# Read the main data file

In [1]:
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df = read_csv(file = "../../data/processed/wnv.trap.date.rev3b.csv")
head(df)

Parsed with column specification:
cols(
  .default = col_double(),
  t_date = col_date(format = ""),
  t_yr = col_integer(),
  t_mo = col_integer(),
  t_day = col_integer(),
  t_qtr = col_integer(),
  t_wk = col_integer(),
  t_day_of_yr = col_integer(),
  t_day_of_wk = col_integer(),
  t_day_of_wk_name = col_character(),
  t_eval_day = col_integer(),
  t_eval_wk = col_integer(),
  part_train = col_logical(),
  part_validate = col_logical(),
  part_test = col_logical(),
  part_partition = col_character(),
  trap_trap_name = col_character(),
  loc_lat_lng_src = col_character(),
  trap_satellite_ind = col_logical(),
  loc_zipcode = col_integer(),
  loc_community = col_character()
  # ... with 33 more columns
)
See spec(...) for full column specifications.

  t_date     t_yr t_mo t_day t_qtr t_wk t_day_of_yr t_day_of_wk
1 2007-05-29 2007 5    29    2     22   149         2
2 2007-05-29 2007 5    29    2     22   149         2
3 2007-05-29 2007 5    29    2     22   149         2
4 2007-05-29 2007 5    29    2     22   149         2
5 2007-05-29 2007 5    29    2     22   149         2
6 2007-05-29 2007 5    29    2     22   149         2
  t_day_of_wk_name t_eval_day ⋯ wea_ohare_tavg2_ma60_lag14
1 Mon              514        ⋯ 51.00833
2 Mon              514        ⋯ 51.00833
3 Mon              514        ⋯ 51.00833
4 Mon              514        ⋯ 51.00833
5 Mon              514        ⋯ 51.00833
6 Mon              514        ⋯ 51.00833
  wea_ohare_tavg2_ma60_lag21 wea_ohare_tavg2_ma60_lag28
1 48.725                     44.69167
2 48.725                     44.69167
3 48.725                     44.69167
4 48.725                     44.69167
5 48.725                     44.69167
6 48.725                     44.69167
  wea_ohare_tavg2_ma60_lag35 wea_ohare_tavg2_ma60_lag42
1 42.1                       38.61667
2 42.1                       38.61667
3 42.1                       38.61667
4 42.1                       38.61667
5 42.1                       38.61667
6 42.1                       38.61667
  wea_ohare_tavg2_ma60_lag49 wea_ohare_tavg2_ma60_lag56
1 35.55                      31.775
2 35.55                      31.775
3 35.55                      31.775
4 35.55                      31.775
5 35.55                      31.775
6 35.55                      31.775
  wea_ohare_tavg2_ma60_lag63 wea_ohare_tavg2_ma60_lag90
1 27.80833                   23.83333
2 27.80833                   23.83333
3 27.80833                   23.83333
4 27.80833                   23.83333
5 27.80833                   23.83333
6 27.80833                   23.83333
  wea_ohare_tavg2_ma60_lag120
1 31.73333
2 31.73333
3 31.73333
4 31.73333
5 31.73333
6 31.73333

In [3]:
glimpse(df)

Observations: 13,631
Variables: 117
$ t_date                             <date> 2007-05-29, 2007-05-29, 2007-05...
$ t_yr                               <int> 2007, 2007, 2007, 2007, 2007, 20...
$ t_mo                               <int> 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...
$ t_day                              <int> 29, 29, 29, 29, 29, 29, 29, 29, ...
$ t_qtr                              <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...
$ t_wk                               <int> 22, 22, 22, 22, 22, 22, 22, 22, ...
$ t_day_of_yr                        <int> 149, 149, 149, 149, 149, 149, 14...
$ t_day_of_wk                        <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,...
$ t_day_of_wk_name                   <chr> "Mon", "Mon", "Mon", "Mon", "Mon...
$ t_eval_day                         <int> 514, 514, 514, 514, 514, 514, 51...
$ t_eval_wk                          <int> 74, 74, 74, 74, 74, 74, 74, 74, ...
$ part_train                         <lgl> TRUE, TRUE, TRUE, TRUE, TRUE, TR...
$ part_validate                      <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ part_test                          <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ part_partition                     <chr> "train", "train", "train", "trai...
$ trap_trap_name                     <chr> "T002", "T007", "T015", "T045", ...
$ loc_lat                            <dbl> 41.95630, 41.99549, 41.97418, 41...
$ loc_lng                            <dbl> -87.79752, -87.76961, -87.82524,...
$ loc_lat_lng_src                    <chr> "CDPH", "CDPH", "CDPH", "CDPH", ...
$ trap_satellite_ind                 <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ loc_zipcode                        <int> 60634, 60646, 60656, 60614, 6061...
$ loc_census_block_group_id          <dbl> 170311701001, 170311201003, 1703...
$ loc_census_tract_id                <dbl> 17031170100, 17031120100, 170311...
$ loc_community                      <chr> "DUNNING", "FOREST GLEN", "NORWO...
$ zone_class                         <chr> "RS-2", "POS-1", "RS-2", "PD 103...
$ zone_type                          <int> 4, 12, 4, 5, 6, 5, 2, 4, 12, 4, ...
$ ses_lt_hs_pct_blk_grp2017          <dbl> 17.4209547, 4.8346056, 3.5010941...
$ ses_median_hh_inc_blk_grp2017      <int> 39643, 84073, 101101, 91094, 382...
$ ses_lt_pov_pct_blk_grp2017         <dbl> 16.029144, 3.612167, 7.580175, 2...
$ ses_lt_hs_pct_tract2017            <dbl> 17.4209547, 2.1681248, 8.8379284...
$ ses_median_hh_inc_tract2017        <int> 39643, 124338, 82865, 116935, 24...
$ ses_lt_pov_pct_tract2017           <dbl> 16.0291439, 2.7443806, 4.9787940...
$ trap_trap_type                     <chr> "GRAVID", "CDC", "GRAVID", "GRAV...
$ mos_erraticus_num_mosquitos        <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_pipiens_num_mosquitos          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_pipiens_restuans_num_mosquitos <int> 1, 0, 1, 0, 0, 1, 0, 1, 2, 1, 0,...
$ mos_restuans_num_mosquitos         <int> 1, 1, 4, 2, 1, 2, 1, 0, 3, 0, 1,...
$ mos_salinarius_num_mosquitos       <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_tarsalis_num_mosquitos         <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_territans_num_mosquitos        <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_unspecified_num_mosquitos      <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ mos_tot_num_mosquitos              <int> 2, 1, 5, 2, 1, 3, 1, 1, 5, 1, 1,...
$ mos_erraticus_wnv_present          <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_pipiens_wnv_present            <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_pipiens_restuans_wnv_present   <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_restuans_wnv_present           <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_salinarius_wnv_present         <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_tarsalis_wnv_present           <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_territans_wnv_present          <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_unspecified_wnv_present        <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ mos_any_wnv_present                <lgl> FALSE, FALSE, FALSE, FALSE, FALS...
$ nbrhud_comm_180d_violation_cnt     <int> 315, 80, 211, 1100, 3058, 1416, ...
$ nbrhud_blk_grp_180d_violation_cnt  <int> 20, 3, 7, 33, 136, 10, 67, 21, 4...
$ nbrhud_zipcode_180d_violation_cnt  <int> 656, 166, 132, 1119, 2002, 1975,...
$ nbrhud_comm_180d_vacancies_cnt     <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ nbrhud_blk_grp_180d_vacancies_cnt  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ nbrhud_zipcode_180d_vacancies_cnt  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
$ wea_midway_prcp                    <dbl> 0.00, 0.00, 0.00, 0.00, 0.00, 0....
$ wea_midway_tavg2                   <dbl> 76.5, 76.5, 76.5, 76.5, 76.5, 76...
$ wea_midway_tmax                    <int> 88, 88, 88, 88, 88, 88, 88, 88, ...
$ wea_midway_tmin                    <int> 65, 65, 65, 65, 65, 65, 65, 65, ...
$ wea_ohare_prcp                     <dbl> 0.00, 0.00, 0.00, 0.00, 0.00, 0....
$ wea_ohare_tavg2                    <dbl> 74.0, 74.0, 74.0, 74.0, 74.0, 74...
$ wea_ohare_tmax                     <int> 88, 88, 88, 88, 88, 88, 88, 88, ...
$ wea_ohare_tmin                     <int> 60, 60, 60, 60, 60, 60, 60, 60, ...
$ wea_midway_tavg2_ma7               <dbl> 66.64286, 76.50000, 76.50000, 76...
$ wea_ohare_tavg2_ma7                <dbl> 67.35714, 67.35714, 67.35714, 67...
$ wea_midway_tavg2_ma60              <dbl> 55.325, 55.325, 55.325, 55.325, ...
$ wea_ohare_tavg2_ma60               <dbl> 54.37500, 54.37500, 54.37500, 54...
$ wea_midway_prcp_sum7               <dbl> 0.45, 0.45, 0.45, 0.45, 0.45, 0....
$ wea_ohare_prcp_sum7                <dbl> 1.07, 1.07, 1.07, 1.07, 1.07, 1....
$ wea_midway_prcp_sum60              <dbl> 5.33, 5.33, 5.33, 5.33, 5.33, 5....
$ wea_ohare_prcp_sum60               <dbl> 5.79, 5.79, 5.79, 5.79, 5.79, 5....
$ wea_midway_prcp_sum60_lag7         <dbl> 5.31, 5.31, 5.31, 5.31, 5.31, 5....
$ wea_midway_prcp_sum60_lag14        <dbl> 5.98, 5.98, 5.98, 5.98, 5.98, 5....
$ wea_midway_prcp_sum60_lag21        <dbl> 6.34, 6.34, 6.34, 6.34, 6.34, 6....
$ wea_midway_prcp_sum60_lag28        <dbl> 6.37, 6.37, 6.37, 6.37, 6.37, 6....
$ wea_midway_prcp_sum60_lag35        <dbl> 5.09, 5.09, 5.09, 5.09, 5.09, 5....
$ wea_midway_prcp_sum60_lag42        <dbl> 5.14, 5.14, 5.14, 5.14, 5.14, 5....
$ wea_midway_prcp_sum60_lag49        <dbl> 4.29, 4.29, 4.29, 4.29, 4.29, 4....
$ wea_midway_prcp_sum60_lag56        <dbl> 4.30, 4.30, 4.30, 4.30, 4.30, 4....
$ wea_midway_prcp_sum60_lag63        <dbl> 3.48, 3.48, 3.48, 3.48, 3.48, 3....
$ wea_midway_prcp_sum60_lag90        <dbl> 3.60, 3.60, 3.60, 3.60, 3.60, 3....
$ wea_midway_prcp_sum60_lag120       <dbl> 5.36, 5.36, 5.36, 5.36, 5.36, 5....
$ wea_midway_tavg2_ma60_lag7         <dbl> 54.00833, 54.00833, 54.00833, 54...
$ wea_midway_tavg2_ma60_lag14        <dbl> 51.89167, 51.89167, 51.89167, 51...
$ wea_midway_tavg2_ma60_lag21        <dbl> 49.70000, 49.70000, 49.70000, 49...
$ wea_midway_tavg2_ma60_lag28        <dbl> 45.53333, 45.53333, 45.53333, 45...
$ wea_midway_tavg2_ma60_lag35        <dbl> 42.84167, 42.84167, 42.84167, 42...
$ wea_midway_tavg2_ma60_lag42        <dbl> 39.32500, 39.32500, 39.32500, 39...
$ wea_midway_tavg2_ma60_lag49        <dbl> 36.35833, 36.35833, 36.35833, 36...
$ wea_midway_tavg2_ma60_lag56        <dbl> 32.69167, 32.69167, 32.69167, 32...
$ wea_midway_tavg2_ma60_lag63        <dbl> 28.85000, 28.85000, 28.85000, 28...
$ wea_midway_tavg2_ma60_lag90        <dbl> 25.95833, 25.95833, 25.95833, 25...
$ wea_midway_tavg2_ma60_lag120       <dbl> 34.950, 34.950, 34.950, 34.950, ...
$ wea_ohare_prcp_sum60_lag7          <dbl> 4.96, 4.96, 4.96, 4.96, 4.96, 4....
$ wea_ohare_prcp_sum60_lag14         <dbl> 5.59, 5.59, 5.59, 5.59, 5.59, 5....
$ wea_ohare_prcp_sum60_lag21         <dbl> 5.90, 5.90, 5.90, 5.90, 5.90, 5....
$ wea_ohare_prcp_sum60_lag28         <dbl> 6.06, 6.06, 6.06, 6.06, 6.06, 6....
$ wea_ohare_prcp_sum60_lag35         <dbl> 6.05, 6.05, 6.05, 6.05, 6.05, 6....
$ wea_ohare_prcp_sum60_lag42         <dbl> 6.13, 6.13, 6.13, 6.13, 6.13, 6....
$ wea_ohare_prcp_sum60_lag49         <dbl> 5.40, 5.40, 5.40, 5.40, 5.40, 5....
$ wea_ohare_prcp_sum60_lag56         <dbl> 5.36, 5.36, 5.36, 5.36, 5.36, 5....
$ wea_ohare_prcp_sum60_lag63         <dbl> 4.59, 4.59, 4.59, 4.59, 4.59, 4....
$ wea_ohare_prcp_sum60_lag90         <dbl> 3.53, 3.53, 3.53, 3.53, 3.53, 3....
$ wea_ohare_prcp_sum60_lag120        <dbl> 5.35, 5.35, 5.35, 5.35, 5.35, 5....
$ wea_ohare_tavg2_ma60_lag7          <dbl> 53.175, 53.175, 53.175, 53.175, ...
$ wea_ohare_tavg2_ma60_lag14         <dbl> 51.00833, 51.00833, 51.00833, 51...
$ wea_ohare_tavg2_ma60_lag21         <dbl> 48.72500, 48.72500, 48.72500, 48...
$ wea_ohare_tavg2_ma60_lag28         <dbl> 44.69167, 44.69167, 44.69167, 44...
$ wea_ohare_tavg2_ma60_lag35         <dbl> 42.10000, 42.10000, 42.10000, 42...
$ wea_ohare_tavg2_ma60_lag42         <dbl> 38.61667, 38.61667, 38.61667, 38...
$ wea_ohare_tavg2_ma60_lag49         <dbl> 35.55000, 35.55000, 35.55000, 35...
$ wea_ohare_tavg2_ma60_lag56         <dbl> 31.775, 31.775, 31.775, 31.775, ...
$ wea_ohare_tavg2_ma60_lag63         <dbl> 27.80833, 27.80833, 27.80833, 27...
$ wea_ohare_tavg2_ma60_lag90         <dbl> 23.83333, 23.83333, 23.83333, 23...
$ wea_ohare_tavg2_ma60_lag120        <dbl> 31.73333, 31.73333, 31.73333, 31...

# Data Type Conversions

In [4]:
factor_vars = c("loc_zipcode", "loc_census_block_group_id","loc_census_tract_id","zone_type")
for (col in factor_vars){
    df[,col] = as.factor(df[,col][[1]])
}

In [5]:
library("forcats")

In [6]:
df$loc_zipcode = fct_infreq(df$loc_zipcode)
df$loc_census_block_group_id = fct_infreq(df$loc_census_block_group_id)
df$loc_census_tract_id = fct_infreq(df$loc_census_tract_id)
df$zone_type = fct_infreq(df$zone_type)

# Split into train, validation and test datasets

In [7]:
df %>% count(part_partition)

  part_partition n
1 test           1979
2 train          8222
3 validate       3430

In [8]:
partition_vars = df %>% select(starts_with("part_")) %>% names()

In [9]:
df_sub = df %>% select(-partition_vars)

In [10]:
df_train = df_sub[df$part_partition=="train",]
df_val   = df_sub[df$part_partition=="validate",]
df_test  = df_sub[df$part_partition=="test",]

What are the date ranges for each of these splits?

In [11]:
range(df_train$t_date)

[1] "2007-05-29" "2013-09-26"

In [12]:
range(df_val$t_date)

[1] "2014-06-05" "2016-09-29"

In [13]:
range(df_test$t_date)

[1] "2017-06-16" "2018-09-27"

# Save to file

In [14]:
saveRDS(df_train,file = "df_train.RData")
saveRDS(df_val,file = "df_val.RData")
saveRDS(df_test,file = "df_test.RData")