# Read the files

In [1]:
library("tidyverse")
library("janitor")

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
df_train = read_csv("df_train.csv")

Parsed with column specification:
cols(
  .default = col_double(),
  t_date = col_date(format = ""),
  t_yr = col_integer(),
  t_mo = col_integer(),
  t_day = col_integer(),
  t_qtr = col_integer(),
  t_wk = col_integer(),
  t_day_of_yr = col_integer(),
  t_day_of_wk = col_integer(),
  t_day_of_wk_name = col_character(),
  t_eval_day = col_integer(),
  t_eval_wk = col_integer(),
  part_train = col_logical(),
  part_validate = col_logical(),
  part_test = col_logical(),
  part_partition = col_character(),
  trap_trap_name = col_character(),
  loc_lat_lng_src = col_character(),
  trap_satellite_ind = col_logical(),
  loc_zipcode = col_integer(),
  loc_community = col_character()
  # ... with 33 more columns
)
See spec(...) for full column specifications.

In [3]:
head(df_train)

  t_date     t_yr t_mo t_day t_qtr t_wk t_day_of_yr t_day_of_wk
1 2007-05-29 2007 5    29    2     22   149         2
2 2007-05-29 2007 5    29    2     22   149         2
3 2007-05-29 2007 5    29    2     22   149         2
4 2007-05-29 2007 5    29    2     22   149         2
5 2007-05-29 2007 5    29    2     22   149         2
6 2007-05-29 2007 5    29    2     22   149         2
  t_day_of_wk_name t_eval_day ⋯ wea_ohare_tavg2_ma60_lag14
1 Mon              514        ⋯ 51.00833
2 Mon              514        ⋯ 51.00833
3 Mon              514        ⋯ 51.00833
4 Mon              514        ⋯ 51.00833
5 Mon              514        ⋯ 51.00833
6 Mon              514        ⋯ 51.00833
  wea_ohare_tavg2_ma60_lag21 wea_ohare_tavg2_ma60_lag28
1 48.725                     44.69167
2 48.725                     44.69167
3 48.725                     44.69167
4 48.725                     44.69167
5 48.725                     44.69167
6 48.725                     44.69167
  wea_ohare_tavg2_ma60_lag35 wea_ohare_tavg2_ma60_lag42
1 42.1                       38.61667
2 42.1                       38.61667
3 42.1                       38.61667
4 42.1                       38.61667
5 42.1                       38.61667
6 42.1                       38.61667
  wea_ohare_tavg2_ma60_lag49 wea_ohare_tavg2_ma60_lag56
1 35.55                      31.775
2 35.55                      31.775
3 35.55                      31.775
4 35.55                      31.775
5 35.55                      31.775
6 35.55                      31.775
  wea_ohare_tavg2_ma60_lag63 wea_ohare_tavg2_ma60_lag90
1 27.80833                   23.83333
2 27.80833                   23.83333
3 27.80833                   23.83333
4 27.80833                   23.83333
5 27.80833                   23.83333
6 27.80833                   23.83333
  wea_ohare_tavg2_ma60_lag120
1 31.73333
2 31.73333
3 31.73333
4 31.73333
5 31.73333
6 31.73333

## Add WOE Features

## Convert certain cols to factors

## Time related features